body {
    font-family: Arial, sans-serif;
    background-color: #ffffff;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
    margin: 0;
}

.form-container {
    background-color: #e9eef3;
    padding: 40px;
    border-radius: 8px;
    width: 600px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
}

.form-container h2 {
    text-align: left;
    font-size: 24px;
    margin-bottom: 20px;
}

.form-group {
    display: flex;
    align-items: center;
    margin-bottom: 15px;
}

.form-group label {
    width: 150px;
    font-weight: bold;
    font-size: 14px;
}

.form-group input[type="text"],
.form-group input[type="number"],
.form-group input[type="date"]
.form-group input[type="time"] {
    flex: 1;
    padding: 8px;
    font-size: 14px;
    border-radius: 4px;
    border: 1px solid #ccc;
    background-color: #fff;
}

.form-group img {
    width: 100px;

}
.form-group input[type="checkbox"] {
    margin-left: 1px;
}
.form-group input[readonly] {
    background-color: #f1f1f1;
    color: #888;
}

.form-group select {
    font-size: 0.8rem;
    background-color: var(--secondary);
    width: 100px;
    height: 25px;
    border-radius: 2px;
}

.form-group .days-label {
    margin-left: 10px;
    font-size: 14px;
}

.form-actions {
    display: flex;
    justify-content: center;
    gap: 10px;
    margin-top: 20px;
}

.btn {
    padding: 10px 20px;
    font-size: 14px;
    border: none;
    border-radius: 4px;
    color: #fff;
    cursor: pointer;
    width: 80px;
    text-align: center;
}

.btn-primary {
    background-color: #007bff;
}

.btn-warning {
    background-color: #ffc107;
    color: #000;
}
